.Sidebar {
    background: linear-gradient( #19D3AF, #0FCFEA);
    padding: 40px 20px;
    color: #fff;
    height: 100vh;
}

.Sidebar ul li {
    list-style: none;
}

.Sidebar ul li a {
    padding: 30px 0;
    display: block;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    transition: 0.3s;
}
.Sidebar ul li a:hover{
    color: #000000;
}

.Sidebar ul li a svg {
    font-size: 40px;
    width: 25px !important;
    height: 25px !important;
 margin-right: 10px;   
}