
.banner_section{
    padding: 100px 70px;
}
.banner_section h1{
    font-weight: 700;
    padding: 10px 0;
}
.banner_section p{
    line-height: 30px;
    font-weight: 300;
    padding: 10px 0;
    font-size: 18px;
}
